body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #335462;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.header img {
    height: 100px;
    padding-left: 10px;
}
.login-button {
    background-color: rgb(255, 220, 0);
    color: #335462;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}
.navigation {
    display: flex;
    justify-content: space-around;
    margin: 10px;
}
.navigation div {
    position: relative;
    cursor: pointer;
    padding: 15px 30px;
    background-color: #f9f9f9;
    transition: background-color 0.3s;
    text-align: center;
}
.navigation div:hover {
    background-color: #ebebeb;
}
.navigation div::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 5px;
    background-color: #004080;
    transition: width 0.3s;
}
.navigation div.active::before {
    width: 100%;
}
.content {
    display: none;
    padding: 20px;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.content.active {
    display: block;
}
.footer {
    text-align: center;
    margin-top: 20px;
    font-size: 0.9em;
    color: #555;
}