body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fafafa;
    color: #31505e;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #ffffff;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}
.header img {
    height: 70px;
    padding-left: 10px;
}
.login-button {
    background-color: #acd5ff;
    color: #335462;
    border: none;
    padding: 15px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    margin-right: 20px;
}
.navigation {
    display: flex;
    justify-content: space-around;
    margin-right: 60px;
}
.navigation div {
    position: relative;
    cursor: pointer;
    padding: 15px 30px;
    margin: 0 10px;
    transition: background-color 0.3s;
    text-align: center;
    border-radius: 6px;
}
.navigation div:hover {
    background-color: #f7f7f7;
    border-radius: 6px;
}
.navigation div::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 5px;
    background-color: #2f6dac;
    transition: width 0.3s;
    border-radius: 10px;
}
.navigation div.active::before {
    width: 100%;

}
.content {
    display: none;
    padding: 20px;
}
.content.active {
    display: block;
    animation: fadeIn 0.5s;
}
.footer {
    text-align: center;
    margin-top: 20px;
    font-size: 0.9em;
    color: #555;
}
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.content-bg {
    background-color: #ffffff;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

/* login */
.mb-3 {
    position: sticky;
    margin-bottom: 36px;
} 
.card-bg {
    position: relative;
    z-index: 0;
    border-radius: 15px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    min-height: 400px;
    margin: 0 auto;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
    align-items: center;
}
.card-bg-register {
    position: relative;
    z-index: 0;
    border-radius: 15px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    min-height: 420px;
    margin: 0 auto;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
    align-items: center;
}
.card-body {
    margin-top: 35px
}
.card-header {
    position: relative;
    background-color: #b4d7ff;
    border-radius: 15px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    width: 100%;
    text-align: center;
}
input {
    margin-right: 90px;
    border: none;
    outline: none;
    font-size: 16px;
    height: 35px;
    background-color: #00000007;
    color: #333; 
    width: 100%; 
    box-sizing: border-box; 
    letter-spacing: 1px;
    text-indent: 10px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    border-bottom-left-radius: 0px;
    transition: border-bottom-right-radius 0.6s; 
}
input:focus {
    border-bottom-right-radius: 0px;
}
.focus-border {
    position: absolute; 
    bottom: 0; 
    left: 0;
    width: 0; 
    height: 3px; 
    background-color: #2F6DAC; 
    transition: 0.4s;
    border-radius: 10px;
}

label {
    position: absolute; 
    font-size: 16px;
    left: 14px; 
    top: 10px; 
    color: #747879; 
    transition: 0.3s; 
    z-index: -1; 
    letter-spacing: 1px;
}
.effect-17:focus ~ .focus-border {
    width: 100%; 
    left: 0;
}
.effect-17:focus ~ label, 
.effect-17:not(:placeholder-shown) ~ label {
    top: -24px; 
    font-size: 14px; 
    color: #4d7fb1;
}
/* input_login */
.btn-primary {
    margin-top: -10px;
    background-color: #acd5ff;
    color: #3b3b3b;
    border: none;
    padding: 12px 18px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}
.register-link{
    margin-top: 26px;
    text-align: center;
}
.back-to-login-btn {
    position: absolute;
    background-color: #00000025;
    color: #000000a0;
    border: none;
    padding: 12px 18px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}
a {
    text-decoration: none;
    color: #31505e;
}
.alert {
    min-height: 12px;
}
.alert-ul{
    padding-inline-start: 0px;
    list-style-type: none;
    color: #770000;
}